body{
 background-image: url("../img/escheresque_ste.png");
 font-family: Verdana;
}
.dws-menu{
 background-color: white;
 margin-top: 100px;
 width: 100%;
}
ul.dws-ul{
 display: flex;
 padding: 0;
 justify-content: center;
}
li.dws-li{
 list-style: none;
 padding: 10px;
}
li.dws-li a{
 text-decoration: none;
 font-size: 18px;
 color: #000;
 position: relative;
 padding: 5px;
}
li.dws-li a i{
 margin-right: 10px;
}
li.dws-li a::before{
 content: '';
 width: 0;
 height: 3px;
 background-color: #33bdf1;
 position: absolute;
 top: 90%;
 left: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.dws-li a::after{
 content: '';
 width: 0;
 height: 3px;
 background-color: #ff2117;
 position: absolute;
 top: 90%;
 right: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.dws-li:hover{
 background-color: #e5eae8;
}
li.dws-li:hover a::before{
 width: 50%;
 transform: translateX(100%);
}
li.dws-li:hover a::after{
 width: 50%;
 transform: translateX(-100%);
}
li.dws-li a:hover{
 color: #e62117;
}


 {
   margin: 0;
   padding: 0;
}

.slider {
   width: 800px;
   height: 500px;
   overflow: hidden;
   border: 10px solid #000;
}

.middle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.navigation {
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
}

.bar {
   width: 30px;
   height: 8px;
   margin: 6px;
   cursor: pointer;
   background-color: #000;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
}

.bar:hover {
   opacity: 1;
   transform:scale(1.1);
}

input[name="r"] {
   position: absolute;
   visibility: hidden;
}

.slides {
   width: 400%;
   height: 100%;
   display: flex;
}

.slide {
   width: 25%;
   transition: all 0.6s ease;
}

.img {
   width: 100%;
   height: 100%;
}

#r1:checked ~ .s1 {
   margin-left: 0;
}

#r2:checked ~ .s1 {
   margin-left: -25%;
}

#r3:checked ~ .s1 {
   margin-left: -50%;
}

#r4:checked ~ .s1 {
   margin-left: -75%;
}















